%section.page-content
	%article.entry.page
		-#.featured-image{:style => "background-image: url('http://residentialbylandsecurities.com/wp-content/uploads/2013/10/KingsGate13bALTERED_Saved_mini.jpg')"}
		%header#category-header.image.cover{:style => "background:url('http://residentialbylandsecurities.com/wp-content/uploads/2013/10/RBLS45_Saved_mini.jpg') top center fixed no-repeat;"}
			.image-inner
				.centered.fade-sequence
					%h1.large A Refined Process.
				%p.cover-caption.fade-sequence Introducing the first line of products from Big Cartel. 
				%a.scroll-down.fade-sequence{:href => "#"} 
					%span See Products
		.container
			.text-block.align-center
				%h6.line-heading This is a Block
				%h3.spaced Huge is a full-service digital agency. We design experiences that transform brands, grow businesses and make people's lives better.
				.row.align-left
					.half.unit
						%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
					.half.unit
						%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
		.section-image
			=image_tag "http://residentialbylandsecurities.com/wp-content/uploads/2013/10/KingsGate13bALTERED_Saved_mini.jpg"
		.container
			.row
				.half.unit
					%p.stat
						%strong 2013
						Squarespace was launched from Anthony’s dorm room at the University of Maryland.
				.half.unit
					%p.stat
						%strong 6,345
						Number of themes sold to themeforest customers since launch.
			.row.align-left
				.half.unit
					.border-col
						%h5 Theme Support
				.half.unit
					.border-col
						%p 
							%strong Control the typeface -
							font properties, and colors of the Primary Navigation and Secondary Navigation.
						%p
							%strong Nav Link Spacing -
							change the vertical spacing between links in the navigation.
			.row
				.half.unit
					.border-col
						%h5 Theme Features
				.half.unit
					.border-col
						%p 
							%strong Control the typeface -
							font properties, and colors of the Primary Navigation and Secondary Navigation.
						%p
							%strong Nav Link Spacing -
							change the vertical spacing between links in the navigation.