- content_for "dfasd"
#page-content.page
	.wrapper
		%article.entry
			%header#page-header
				%h1 About Us
			.entry-content
				%h3 Huge is a full-service digital agency. We design experiences that transform brands, grow businesses and make people's lives better.
				.row
					.half.unit
						%h4 Shipping
						%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
					.half.unit
						%h4 Our History
						%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
				%a{:href => "#", :class => "image-actions"}
					=image_tag "/images/blog/big.jpg", :class => "full-width"
				.row
					.half.unit
						.border-col
							%h4 Theme Features
					.half.unit
						.border-col
							%p 
								%strong Control the typeface -
								font properties, and colors of the Primary Navigation and Secondary Navigation.
							%p
								%strong Nav Link Spacing -
								change the vertical spacing between links in the navigation.
				.row
					.half.unit
						.border-col
							%h4 Theme Support
					.half.unit
						.border-col
							%p 
								%strong Control the typeface -
								font properties, and colors of the Primary Navigation and Secondary Navigation.
							%p
								%strong Nav Link Spacing -
								change the vertical spacing between links in the navigation.