#page-content.page.center
	.featured-image

	.wrapper
		%article.entry
			.entry-content
				.text-block.align-center
					%h6.line-heading This is a Block
					%h3.em.spaced Huge is a full-service digital agency. We design experiences that transform brands, grow businesses and make people's lives better.
					%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
				=image_tag "/images/placement/grid.jpg"
				.text-block.align-center
					%h6.line-heading This is a Block
					%h3.em.spaced Huge is a full-service digital agency. We design experiences that transform brands, grow businesses and make people's lives better.
					%p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. 
				=image_tag "/images/placement/2.jpg"