%section.page-content
	%article.entry.page
		%header.cover.full-slider
			%ul.slides
				%li{:style => "background-image: url('http://37.media.tumblr.com/896656ef638e8bc5db3f6c148d70d9d5/tumblr_n5e5qd8BB81st5lhmo1_1280.jpg');"}
					.slide-content.centered
						=image_tag "/images/slides/text4.png", :class => "fade-sequence", :width => "300"
				%li{:style => "background-image: url('http://37.media.tumblr.com/1ac0b1d18bc6429f066acdccc81c89f4/tumblr_n3ttt5vKzl1st5lhmo1_1280.jpg');"}
					.slide-content.centered
						%h1.large.fade-sequence New Mens Clothes.
						%h6.separator-heading.fade-sequence Get in quick. Sell out soon.
						%br
						=link_to "View Now", "/products", :class => "button border fade-sequence"