%section.page-content
	%article.entry.page
		%header.cover.full-slider
			%ul.slides
				%li{:style => "background-image: url('/images/placement/6.jpg');"}
					.slide-content.centered
						=image_tag "/images/slides/text4.png", :class => "fade-sequence", :width => "300"
				%li{:style => "background-image: url('/images/slides/2.jpg');"}
					.slide-content.centered
						%h1.large.fade-sequence New Mens Clothes.
						%h6.separator-heading.fade-sequence Get in quick. Sell out soon.
						%br
						=link_to "View Now", "/products", :class => "button border fade-sequence"