// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.65 !default;
$font-color: #444 !default;
$header-color: #222 !default;
$soft-color: #858585;


$link-color: #b69959 !default;
$link-hover-color: #222 !default;
$link-visited-color: #b69959 !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$border-color: #eee;

$soft-back: #fafaf8;
